@charset "UTF-8";

* { box-sizing: border-box;}
html, body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
}

section {
  position: absolute;
  text-align: center;
  min-width: 1000px;
  bottom: 0;
}

img {
  display: inline;
  width: 200px;
}

img:nth-child(2) {
  width: 150px;
}

img:nth-child(5) {
  width: 120px;
}
